*{
    padding: 0;
margin: 0px;
font-family:'Josefin Sans',sans-serif;
box-sizing: border-box;
background-color: black;
}
.bol{
    position: absolute;
    left: 7%;
    width: 35vh;
    top: 30%;
    height: 30px;
}
.bol img{
    width: 150%;
    height: 250px;
}
.bul{
    position: absolute;
    width: 35vh;
    height: 30px;
    top: 30%;
    left: 40%;

}
.bul img{
    width: 150%;
    height: 250px;
}
.eng{
    position: absolute;
    width: 35vh;
    top: 30%;
    left: 70%;
    height: 30px;
}
.eng img{
    width: 150%;
    height: 250px;
}
.your{
    color: aliceblue;
    top: 70%;
    left: 13%;
    position: absolute;
}
.your label:hover{
    color: yellow;
}
.how{
    color: aliceblue;
    position: absolute;
    top: 70%;
    left: 75%;
}
.how label:hover{
    color: yellow;
}
.most{
    color: aliceblue;
    position: absolute;
    top: 70%;
    left: 47%;
}
.most label:hover{
    color: yellow;
}
.ore button{
    color: aliceblue;
    background-color: green;
    top: 75%;
    left: 17%;
    width: 7%;
    height: 5%;
    position: absolute;
    border-radius: 25px;

}
.ore button:hover{
    color: black;
    background-color: white;
    font-weight: bolder;
}
.hd{
    color: green;
    position: absolute;
    top: 10%;
    left: 45%;
    font-weight: bolder;
    font-size:large;
}
.mro button{
    color: aliceblue;
    background-color: green;
    top: 75%;
    left: 50%;
    width: 7%;
    height: 5%;
    position: absolute;
    border-radius: 25px;
}
.mro button:hover{
    color: black;
    background-color: white;
    font-weight: bolder;
}
.las button{
    color: aliceblue;
    background-color: green;
    top: 75%;
    left: 80%;
    width: 7%;
    height: 5%;
    position: absolute;
    border-radius: 25px;
}
.las button:hover{
    color: black;
    background-color: white;
    font-weight: bolder;
}