body{
    padding: 0;
    margin: 0px;
    font-family:'Josefin Sans',sans-serif;
    box-sizing: border-box;
    background-color: black;
 
    }
.tac{
    position: absolute;
    border-color: red;
    top: 20%;
    left: 45%;
    margin: 12px;
    height: 420px;
    width: 25%;
    border-radius: 0%;

    background: rgba(37, 108, 83, 0.6);
    font-size: 15px;
    font-style: normal;
    line-height: 14px;
    
}
form{
    left: 12%;
    margin: 17px;
}
.act{
    /*color: white;
    background-color: black;
    top: 40%;
    position: absolute;
*/
position: absolute;
width: 400px;
height: 200px;
left: 19px;
top: 50px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 70;
font-size: 40px;
line-height: 80px;

color: #FFFFFF;

}
.tac label{
    color: white;
    padding: 15px;
}
.tac label st{
    color: red;
}
.tac input{
    color: black;
    background-color: aliceblue;
    width: 80%;
    left: 10%;
    top: auto;
    margin: 15px;
    padding: 5px;
    border-radius: 25px;
    

}
.in{
    position: absolute;
    left: 40%;
}
.in button{
    background-color: rgb(60, 90, 60);
    border-radius: 25px;
}
/*    
}
.tac input namety{
    background-color: antiquewhite;
}