*{
    padding: 0;
    margin: 0px;
    font-family:'Josefin Sans',sans-serif;
    box-sizing: border-box;
    background-color: black;
    }
.ski{
    color: white;
    
}
.ski img{
    position: absolute;
    height: 30%;
    width: 20%;
    left: 17%;
    top: 25%;
}
.lk{
    position: absolute;
    color: white;
    left: 25%;
    top: 55%;
}
.ht{
    position: absolute;
    left: 50%;
    height: 40%;
    width: 30%;

}
.ht img{
    position: absolute;
    height: 60%;
    width: 50%;
    top: 70%;
}
.th{
    color: white;
    position: absolute;
    left: 55%;
    top: 55%;
}
.ss{
    position: absolute;
    left: 80%;
    top: 27%;
    height: 10%;
}
.ss img{
    width: 30vh;
    height: 26vh;
    top: 70%;

}
.cs{
    color: white;
    position: absolute;
    left: 86.5%;
    top: 55%;
}
.js{
    position: absolute;
    left: 80%;
    height: 10vh;
    width: 50vh;
    top: 70%;
    left: 17%;
}
.js img{
    width: 30vh;
    height: 30vh;
}
.sj{
    color: white;
    position: absolute;
    left: 22%;
    top: 100%;
}
.ct{
    position: absolute;
    top: 70%;
    left: 50%;

    
}
.ct img{
    height: 30vh;
    width: 30vh;
    top: 50%;
}
.tc{
    color: white;
    position: absolute;
    top: 100%;
    left: 55.5%;
}
.had{
    color: green;
    left: 50%;
    position: absolute;
    top: 10%;

}