*{
padding: 0;
margin: 0px;
font-family:'Josefin Sans',sans-serif;
box-sizing: border-box;
background-color: black;
}
.trial{
 position: absolute;
left: 7%;
right: 22.59%;
top: 35%;
bottom: 87.27%;

font-family:Verdana, Geneva, Tahoma, sans-serif;
font-style: normal;
font-weight: 40;
font-size: 20px;
line-height: 20%;
color: #FFFFFF;
}

.head{
    position: absolute;
left: 7%;
right: 22.59%;
top: 40%;
bottom: 66.75%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;


color: #13A633;
}
.last{
position: absolute;
width: 22%;
height: 40px;
left: 70%;
top: 40%;

}
.last button{
    color: white;
    background-color: green;
    border-radius: 25px;
    width: 10;
    padding: 5px;
    font-size: 20px;
    line-height: 43px;
    position: absolute;
}
.last button:hover{
    color: black;
    background-color: blanchedalmond;
}
.an{

        position: absolute;
        width: 232px;
        height: 50px;
        left: 70%;
        top: 50%;
        
        
        }
.an button{
        color: white;
        border-radius: 25px;
        padding: 5px;
        font-size: 20px;
        line-height: 43px;
        position: absolute;
        background-color:green;
}
.an button:hover{
    color: black;
    background-color: white;

}
.logo{
    color: green;
    position: absolute;
    left: 7%;
}
.about{
position: absolute;
left: 9%;
top: 50%;
bottom: 500%;


font-family: 'Battambang';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 43px;

color:white;

}

.hero{
    width: 20%;
    float: left;
    height: 70px;
    position: absolute;
}

ul{
    float: left;
    display: flex;
    justify-content:left;

    position: absolute;

}

ul li{
    list-style: none;
    margin-left: 20%;
    left: 27%;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Perpetua Titling MT';
    font-weight: bold;
    transition: 0.4s ease-in-out;
    font-style: normal;
    font-weight: 700;
    font-size: 100%;
    line-height: 24px;
}

ul li a:hover{
    color: green;
}
.skills img{
    position: absolute;
    width: 20%;
    height: 25.9%;
    left: 7%;
    top: 200%;

}
.skills p{
    color:red;
    left: 15;
    top: 300%;
}
.ht img{
    position: absolute;
    width: 15%;
    height: 20.9%;
    left: 40%;
    top: 205%;
}
.th{
    position: absolute;
    width: 5%;
    height: 15.9%;
    left: 60%;
    top: 205%;

}
.navigate button{
    position: absolute;
    color: white;
    font-weight: bold;
    top: 4%;
    left: 65%;
    font-family: 'Perpetua Titling MT';
    font-weight: bold;
    transition: 0.4s ease-in-out;
    font-style: normal;
    font-weight: 700;
    border-color: honeydew;
    border-radius: 25px;
    width: 6%;
    height: 4%;


}
.navigate button:hover{
    color: black;
    background-color: blanchedalmond;
}
.gate button{
    position: absolute;
    color: white;
    top: 4%;
    width: 6%;
    height: 4%;
    left: 75%;
    font-family: 'Perpetua Titling MT';
    font-weight: bold;
    transition: 0.4s ease-in-out;
    font-style: normal;
    font-weight: 700;
    border-color: honeydew;
    border-radius: 25px;
    

}
.gate button:hover{
    color: green;
    background-color: honeydew;
}